/* Header Section */
.header {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    color: #343a40;
    height: auto;
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    right: 0
}
.header .header-brand-text {
    display: block;
    border: none;
    text-shadow: none;
    max-width: none;
    text-align: left;
    float: none;
    height: auto;
    color: #55A79A;
    text-decoration: none;
    letter-spacing: -.5px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1;
    font-family: Rambla, sans-serif;
}

.header .header-brand-text h1 {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header .header-brand-text h1 span {
    color: #464646;
    font-weight: 700
}

.header .header-slogan, .header .header-text {
    color: #888
}

.header .header-brand-text:hover {
    text-decoration: none
}

.header .header-brand-text.header-brand-text-sm h1 {
    font-size: 28px !important
}
.btn{
   
    border-width: 1px;
    letter-spacing: .5px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    white-space: nowrap;
    vertical-align: middle;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-icon.btn {
    font-size: 20px;
    text-align: center;
    padding: 0;
    height: 38px;
    width: 38px;
    line-height: 36px;
}
.btn-link {
    color: rgba(78, 78, 78, .8);
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.header .header-btn {
    margin-left: 3px
}

/* Navigation */


.navbar {
    color: rgba(0, 0, 0, .7);
    margin-bottom: 0;
    background: 0 0;
    border-radius: 0;
    padding: 0
}
.navbar::after {
    display: block;
    clear: both;
    content: ""
}

.header .navbar {
    position: static
}
.navbar-main {
    margin: 0;
    position: relative
}
.navbar-main, .navbar-offcanvas {
    background-color: #292b2c;
    padding: 0
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.nav-pills-border-bottom .nav-link:after, .nav-pills-border-bottom-inside .nav-link:after {
    height: 2px;
    width: 100%;
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    right: 0;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.nav-pills-border-bottom-inside {
    position: relative;
}
.nav-pills-border-bottom-inside:after, .nav-pills-border-bottom:after{
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
}
.nav-pills .nav-link.active{
    background-color: #55A79A;
    color: #fff;
}
.nav-pills-border-bottom-inside:after, .nav-pills-border-bottom:after, .nav-steps:after, .nav-tabs-flat:after{
    left: 0;
    content: '';
    right: 0;
}
.nav-pills-border-bottom-inside.nav-pills-border-bottom-inside:after, .nav-pills-border-bottom.nav-pills-border-bottom-inside:after{
    height: 2px
}
.nav-link:after, .nav-pills-border-bottom-inside.nav-pills-border-bottom-inside:after,.nav-pills-border-bottom.nav-pills-border-bottom-inside:after {
    height: 2px;

}
.nav-pills.nav-pills-border-bottom-inside .nav-link.active{
    color: #55A79A !important; 
}
.navbar .navbar-nav .nav-link.active{
    color: rgba(0, 0, 0, .9)
}
.nav-pills-border-bottom-inside .nav-link.active{
    background: 0 0 !important;  
}
.nav-pills-border-bottom-inside .nav-link {
    border-radius: 0;
    background: 0 0;
    position: relative;
    color: #495057;
    overflow: hidden;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    cursor: pointer;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav-pills .nav-link {
    border-radius: 3px;
}
.nav-pills .nav-link{
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.navbar .navbar-nav .open > .nav-link, .navbar .navbar-nav .open > .nav-link:hover{
    color: #212529;
}
.navbar .navbar-nav .open > .nav-link, .navbar .navbar-nav .open > .nav-link:hover, .navbar .navbar-nav .show > .nav-link, .navbar .navbar-nav .show > .nav-link:hover, .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .show > .nav-link:hover {
    color: #212529;
}
.dropdown-toggle::after {
    font-size: 11px;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-menu{
    margin-top: -1px !important;
    padding: 6px;
    border-radius: 0;
    left: auto;
    border: 1px solid #E6E6E6;
    border-bottom-width: 2px;
    font-size: 12px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.dropdown-mega-menu {
    width: 100%;
}
.dropdown-mega-menu.nav-item {
    width: auto;
}
.dropdown-effect-fade .dropdown-menu{
    display: block;
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    visibility: hidden;
}
.collapse .dropdown-menu{
    background: 0 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: none;
    color: rgba(255, 255, 255, .6);
    position: static;
    float: none !important;
    left: 0;
}
/* Header Inner */
.header-inner .header-brand {
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px
}
/* .open > .dropdown-menu, .show > .dropdown-menu {
    display: block !important;
} */
/* .dropdown-menu.show {
    display: block;
} */
/* .dropdown-effect-fade .open > .dropdown-menu {
    opacity: 1;
    display: block !important;
    visibility: visible !important;
} */
/* Helper classes */

.h2, h2 {
    font-size: 2.15rem;
}
.order-12 {
    -ms-flex-order: 12;
    order: 12;
}
.order-11{
    -ms-flex-order: 11;
    order: 11;
}
.float-right {
    float: right!important;
}
.collapse:not(.show) {
    display: none;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.p-3 {
    padding: 1rem!important;
}
.text-center {
    text-align: center!important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
/* Media */

@media (max-width: 767.98px) {
    .header {
        padding: 15px 0
    }

    .header .header-brand-text {
        margin-top: 0
    }

    .header .header-brand-text h1 {
        font-size: 28px
    }
    
}

@media (min-width: 768px) {
    .header-inner .header-block, .header-inner .header-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
   
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }

}

@media (min-width: 992px){
    .d-lg-block {
        display: block!important;
    }
    .navbar-expand-md .navbar-main{
        display: block !important;
        padding: 0;
        margin: 0;
        clear: none;
        overflow-y: visible;
        overflow-x: visible;
        width: auto;
        top: auto;
        background: 0 0;
        position: static;
    }
    .navbar-expand-md .navbar-main .navbar-nav {
        margin-top: 0
    }
    .float-lg-right {
        float: right!important;
    }
    .navbar-expand-md .navbar-main .nav-item {
        float: left;
        border: none;
    }
    .navbar-expand-md .navbar-main .dropdown-mega-menu {
        position: static;
    }
    .navbar-expand-md .navbar-main .nav > .dropdown {
        z-index: 1000;
    }
    .navbar-expand-md .navbar-main .navbar-nav > .nav-item > .nav-link{
        border-radius: 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        padding: 15px 10px;
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .5px;
        border: 1px solid transparent;
        border-top: 3px solid transparent;
    }
    .navbar-expand-md .navbar-main .navbar-nav.navbar-nav-stretch > .nav-item > .nav-link{
        padding: 34px 14px;
        color: #292b2c;
    }
    .navbar-expand-md .navbar-main .dropdown-mega-menu .dropdown-menu{
         min-width: 550px;
         max-width: 100%;
         padding: 15px;
         right: 0;
         left: 0;
    }
    .navbar-expand-md .navbar-main.collapse .dropdown-menu{
        padding: 12px;
    border-radius: 0;
    left: auto;
    border: 1px solid #e9ecef;
    border-bottom: 2px solid #55A79A;
    min-width: 250px;
    color: rgba(27, 27, 27, .8);
    background: #fff;
    position: absolute;
    z-index: 1000;
    }
    .navbar-expand-md .navbar-main .nav > .dropdown > a{
        position: relative;
    z-index: 1001
    }
    .navbar-expand-md .navbar-main .dropdown-mega-menu.dropdown-mega-menu-50 .dropdown-menu.dropdown-menu-right{
        right: 0;
    }
    .navbar-expand-md .navbar-main .dropdown-mega-menu.dropdown-mega-menu-50 .dropdown-menu{
        max-width: 50%;
    }
    .navbar-expand-md .navbar-main .dropdown-mega-menu.dropdown-mega-menu-50 .dropdown-menu{
        left:auto;
    }
    .navbar-expand-md .navbar-main.collapse .dropdown-menu{
        border-bottom-color: #55A79A !important
    }
    .navbar-expand-md .navbar-main.collapse .dropdown-menu{
        color: rgba(27, 27, 27, .8);
    }
    .flex-lg-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }
    .navbar-expand-md .navbar-main .navbar-nav > .open > .dropdown-toggle,.navbar-expand-md .navbar-main .navbar-nav > .open > .dropdown-toggle:hover{
        background: #fff;
        color: #1b1b1b;
        border-color: #f3f3f3 #f3f3f3 transparent;
    }
    .navbar-main .navbar-nav .open > .dropdown-toggle{
        border-top-color: #55A79A !important;
    }
    .navbar-expand-md .navbar-main .navbar-nav > .open.active > .dropdown-toggle, .navbar-expand-md .navbar-main .navbar-nav > .open.active > .dropdown-toggle:focus, .navbar-expand-md .navbar-main .navbar-nav > .open.active > .dropdown-toggle:hover, .navbar-expand-md .navbar-main .navbar-nav > .open > .dropdown-toggle, .navbar-expand-md .navbar-main .navbar-nav > .open > .dropdown-toggle:focus, .navbar-expand-md .navbar-main .navbar-nav > .open > .dropdown-toggle:hover, .navbar-expand-md .navbar-main .navbar-nav > .show.active > .dropdown-toggle, .navbar-expand-md .navbar-main .navbar-nav > .show.active > .dropdown-toggle:focus, .navbar-expand-md .navbar-main .navbar-nav > .show.active > .dropdown-toggle:hover, .navbar-expand-md .navbar-main .navbar-nav > .show > .dropdown-toggle, .navbar-expand-md .navbar-main .navbar-nav > .show > .dropdown-toggle:focus, .navbar-expand-md .navbar-main .navbar-nav > .show > .dropdown-toggle:hover, .navbar-expand-md.navbar-main .navbar-nav > .open.active > .dropdown-toggle, .navbar-expand-md.navbar-main .navbar-nav > .open.active > .dropdown-toggle:focus, .navbar-expand-md.navbar-main .navbar-nav > .open.active > .dropdown-toggle:hover, .navbar-expand-md.navbar-main .navbar-nav > .open > .dropdown-toggle, .navbar-expand-md.navbar-main .navbar-nav > .open > .dropdown-toggle:focus, .navbar-expand-md.navbar-main .navbar-nav > .open > .dropdown-toggle:hover, .navbar-expand-md.navbar-main .navbar-nav > .show.active > .dropdown-toggle, .navbar-expand-md.navbar-main .navbar-nav > .show.active > .dropdown-toggle:focus, .navbar-expand-md.navbar-main .navbar-nav > .show.active > .dropdown-toggle:hover, .navbar-expand-md.navbar-main .navbar-nav > .show > .dropdown-toggle, .navbar-expand-md.navbar-main .navbar-nav > .show > .dropdown-toggle:focus, .navbar-expand-md.navbar-main .navbar-nav > .show > .dropdown-toggle:hover {
        background: #fff;
        color: #1b1b1b;
        border-color: #f3f3f3 #f3f3f3 transparent;
    }
    .navbar-expand-md .navbar-main .nav-link-dd-effect.active, .navbar-expand-md .navbar-main .nav-link-dd-effect:hover, .navbar-expand-md .navbar-main .navbar-nav .open.active > .dropdown-toggle, .navbar-expand-md .navbar-main .navbar-nav .open > .dropdown-toggle, .navbar-expand-md .navbar-main .navbar-nav .show.active > .dropdown-toggle, .navbar-expand-md .navbar-main .navbar-nav .show > .dropdown-toggle, .navbar-expand-md.navbar-main .nav-link-dd-effect.active, .navbar-expand-md.navbar-main .nav-link-dd-effect:hover, .navbar-expand-md.navbar-main .navbar-nav .open.active > .dropdown-toggle, .navbar-expand-md.navbar-main .navbar-nav .open > .dropdown-toggle, .navbar-expand-md.navbar-main .navbar-nav .show.active > .dropdown-toggle, .navbar-expand-md.navbar-main .navbar-nav .show > .dropdown-toggle {
        border-top-color: #55A79A !important;
    }
}
