.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  // Notification about offers
  .header-most-top {
    p {
      text-align: center;
      color: $color_2;
      font-weight: 600;
      padding: 8px;
      letter-spacing: 2px;
      background: $color_16;
    }
  }

  /*-- //search --*/
  /*-- logo --*/
  .header-main {
    padding: 15px 0;
    .brandlogo {
      text-align: left;
      span {
        color: $color_22;
      }
      h1 a {
        color: #212121;
        font-size: 38px;
        text-decoration: none;
      }
    }
    .address {
      text-align: end;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      padding-right: 50px;
      > div:first-child {
        margin-right: 25px;
        padding-right: 25px;
        border-right: 1px solid $color_1;
      }
      p {
        color: #212121;
        font-weight: 600;
      }
      span {
        display: block;
        font-size: 14px;
        color: $color_1;
      }
      button.w3view-cart {
        outline: none;
        border: none;
        background: $color_22;
        width: 48px;
        height: 43px;
        font-size: 24px;
        color: #fff;
      }
    }
  }
  .ban-top {
    border-top: 1px solid rgba(0, 0, 0, 0.22);
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 4px;
  }
  .agileits-navi_search {
    float: left;
    width: 23%;
    #agileinfo-nav_search {
      outline: none;
      border: none;
      color: $color_3;
      font-size: 14px;
      background: #f3f3f3;
      padding: 15px 10px;
      width: 100%;
      letter-spacing: 1px;
    }
  }
  .navbar-default {
    background: none;
    border: none;
    min-height: inherit;
    margin: 0;
    float: right;
    .navbar-nav {
      > .active {
        > a {
          background: none;
          color: $color_22;
          &:hover {
            background: none;
            color: $color_22;
          }
          &:focus {
            background: none;
            color: $color_22;
          }
        }
      }
      > .open {
        > a {
          color: #555;
          background: none;
          &:hover {
            color: #555;
            background: none;
          }
          &:focus {
            color: #555;
            background: none;
          }
        }
      }
      > li {
        > a {
          &:hover {
            color: $color_22;
          }
          &:focus {
            color: $color_22;
          }
          color: #000;
        }
      }
    }
  }
  .navbar-nav {
    > li {
      margin: 0 9px;
      > a {
        padding: 15px 16px;
        line-height: inherit;
      }
    }
  }
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  a.nav-stylehead {
    letter-spacing: 1px;
    color: #000;
    font-size: 15px;
  }
  .agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
    padding: 0;
    top: 52px;
    min-width: 250px;
    border: none;
    li {
      a {
        color: #545454;
        font-size: 13px;
        padding: 0.8em 0;
        border-bottom: 1px solid #ececef;
        letter-spacing: 1px;
      }
    }
    > li {
      > a {
        &:hover {
          text-decoration: none;
          background-color: transparent;
          color: $color_22;
        }
      }
    }
  }
  .multi-gd-img {
    img {
      margin-top: 60px;
      width: 100%;
    }
  }
  ul.multi-column-dropdown {
    li {
      list-style-type: none;
      line-height: 2.5em;
      a {
        text-decoration: none;
        font-size: 0.9em;
        color: #545454;
        letter-spacing: 1px;
        &:hover {
          color: $color_22;
        }
      }
    }
  }
  .dropdown-menu {
    > .active {
      > a {
        background-color: $color_22;
        &:hover {
          background-color: $color_22;
        }
        &:focus {
          background-color: $color_22;
        }
      }
    }
  }
  .top_nav_right {
    float: right;
    width: 20%;
  }
  .box_1 {
    text-align: center;
    margin-top: 14px;
  }
  a.simpleCart_empty {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  button.w3view-cart {
    outline: none;
    border: none;
    background: $color_22;
    width: 48px;
    height: 43px;
    font-size: 24px;
    color: #fff;
  }

  .dropdown-menu.columns-3 {
    min-width: 555px;
    padding: 30px 30px;
  }
}

// form
.loggin-wrapper {
  height: 80vh;
  margin-top: 133px;
  background-color: beige;
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba($color_3, 0.8),
      rgba($color_31, 0.8)
    ),
    url(https://images.unsplash.com/photo-1543555893-57abc37947f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
  .user-action-form {
    position: absolute;
    top: 50%;
    padding: 45px 2.5rem;
    background: #fff;
    width: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    .title {
      line-height: 2em;
      text-align: center;
      color: #000;
      font-size: 14px;
      letter-spacing: 1.5px;
      margin-bottom: 25px;
    }
    h3 {
      font-size: 30px;
      font-weight: 400;
      text-transform: none;
      // letter-spacing: 1px;
      margin-bottom: 10px;
      text-align: center;
      color: #1accfd;
    }
    .form {
      width: 100%;
      position: relative;
      form {
        //padding: 10% 2.5em;
        li {
          border: 1px solid #b4b2b2;
          list-style: none;
          margin-bottom: 25px;
          width: 100%;
          background: none;
          border-radius: 0.3em;
          -webkit-border-radius: 0.3em;
          -moz-border-radius: 0.3em;
        }
        .icon {
          background: url(../images/icons.png) no-repeat 0px 0px;
          height: 30px;
          width: 30px;
          display: block;
          float: left;
          margin: 7px -11px 0px 0px;
        }
        .user {
          background: url(../images/icons.png) no-repeat 12px 11px;
        }
        .lock {
          background: url(../images/icons.png) no-repeat -17px 11px;
        }
        input[type="text"],
        input[type="password"] {
          font-family: "Open Sans", sans-serif;
          width: 60%;
          height: 50px;
          padding: 0.7em 2em 0.7em 1.7em;
          color: #858282;
          font-size: 14px;
          outline: none;
          background: none;
          border: none;
          font-weight: 600;
        }
      }
      .button2 {
        display: block;
        box-shadow: 0 0 1px transparent;
        background: #1accfd;
        border-radius: 4px;
        color: $color_2;
        letter-spacing: 2px;
        text-align: center;
        padding: 12px 27px;
        margin-top: 10px;
        &:hover {
          background: $color_22;
          color: $color_2;
        }
        &:focus {
          background: $color_22;
          color: $color_2;
        }
      }
      .form-end {
        margin-top: 15px;
        .info_text {
          font-size: 12px;
        }
        .aln-left {
          text-align: left;
        }
        .aln-right {
          text-align: right;
        }
        .aln-center {
          text-align: center;
        }
      }
    }
  }
}

// banner
.content-wrapper {
  margin-top: 179px;
  padding-bottom: 50px;
  .ads-banner {
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to left,
        rgba($border_color_4, 0.9),
        rgba($border_color_4, 0)
      ),
      url(https://images.unsplash.com/photo-1543555893-57abc37947f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
    .ad-conent {
      text-align: center;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-weight: 700;
        font-size: 65px;
        color: white;
        margin-bottom: 10px;
        text-shadow: 3px 6px 2px rgba(12, 12, 12, 0.5);
        span {
          color: $border_color_5;
        }
      }
      p {
        text-align: center;
        color: white;
        font-size: 20px;
      }
      .button2 {
        display: inline-block;
        vertical-align: middle;
        background: #1accfd;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        letter-spacing: 2px;
        padding: 11px 27px;
        margin-top: 1em;
        &:hover {
          background: $color_22;
          color: $color_2;
        }
        &:focus {
          background: $color_22;
          color: $color_2;
        }
      }
    }
  }
  .deals-section {
    padding-top: 50px;
    .main_tittle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
      h3 {
        color: #000;
        font-size: 1.8em;
        text-align: left;
      }
      a {
        margin-right: 15px;
        padding: 8px;
        border: 1px solid gainsboro;
        font-size: 14px;
      }
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      min-height: 150px;
      flex-wrap: wrap;
      > div {
        width: 200px !important;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid gainsboro;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      ._product_item {
        width: 100%;
        .thumb-item {
          text-align: center;
          img {
            height: 50%;
          }
        }
        .item-info-product {
          margin-top: 20px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: center;
          h4 {
            color: #000;
            font-size: 17px;
            letter-spacing: 1px;
            margin-bottom: 10px;
          }
          span.item_price {
            font-size: 18px;
            color: #d60404;
            margin-right: 10px;
          }
        }
        .snipcart-details {
          text-align: center;
          input.button {
            font-size: 13px;
            color: #fff;
            background: #1accfd;
            text-decoration: none;
            position: relative;
            border: none;
            border-radius: 0;
            width: 85%;
            text-align: center;
            text-transform: uppercase;
            padding: 13px;
            outline: none;
            letter-spacing: 1px;
            font-weight: 600;
            margin-bottom: 10px;
          }
        }
      }
    }

    .promo_Ads {
      width: 100%;
      height: 390px;
      background-color: #1accfd;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      background-image: url(../../images/promo_adds.jpg);
    }
  }
  .future-section {
    margin-top: 75px;
    .main_tittle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
      h3 {
        color: #000;
        font-size: 1.8em;
        text-align: left;
      }
      a {
        padding: 8px;
        border: 1px solid gainsboro;
        font-size: 14px;
      }
    }
    .future_wrapper {
      display: flex;
      overflow-x: scroll;
      flex-wrap: nowrap;
      min-width: 200px;
      width: 100%;
      padding: 0px 15px 40px 15px;
      > div {
        width: 375px;
        height: 200px;
        background-color: #858282;
        margin-right: 10px;
      }
      > div:last-child {
        margin-right: 0;
      }
    }
  }
  .all_brands_section {
    margin-top: 75px;
    .main_tittle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
      h3 {
        color: #000;
        font-size: 1.8em;
        text-align: left;
      }
      a {
        padding: 8px;
        border: 1px solid gainsboro;
        font-size: 14px;
      }
    }
    .product_wrapper {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      flex-wrap: nowrap;
      align-items: stretch;
      min-width: 200px;
      min-height: 200px;
      width: 100%;

      > div {
        min-width: 200px !important;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid gainsboro;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      ._product_item {
        width: 100%;
        .thumb-item {
          text-align: center;
          img {
            height: 50%;
          }
        }
        .item-info-product {
          margin-top: 20px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: center;
          h4 {
            color: #000;
            font-size: 17px;
            letter-spacing: 1px;
            margin-bottom: 10px;
          }
          span.item_price {
            font-size: 18px;
            color: #d60404;
            margin-right: 10px;
          }
        }
        .snipcart-details {
          text-align: center;
          input.button {
            font-size: 13px;
            color: #fff;
            background: #1accfd;
            text-decoration: none;
            position: relative;
            border: none;
            border-radius: 0;
            width: 85%;
            text-align: center;
            text-transform: uppercase;
            padding: 13px;
            outline: none;
            letter-spacing: 1px;
            font-weight: 600;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// footer
.footer-section {
  .footer-top {
    background: rgb(28, 34, 36);
    .subscribe-email {
      padding: 4em 0 3em 3em;
      position: relative;
    }
    h2 {
      font-size: 30px;
      letter-spacing: 1px;
      color: #fff;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      color: #fff;
      margin: 15px 0 40px;
    }
    input[type="email"] {
      display: inline-block;
      background: #f5f5f5;
      border: none;
      width: 72%;
      outline: none;
      padding: 14px;
      font-size: 17px;
      color: #fff;
      letter-spacing: 1px;
    }
    input[type="submit"] {
      outline: none;
      color: #ffffff;
      padding: 14px;
      font-size: 17px;
      letter-spacing: 1px;
      width: 18%;
      background: $color_22;
      border: none;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
      -ms-transition: 0.5s all;
      transition: 0.5s all;
    }
    .clip_image_section {
      img {
        height: 250px;
      }
      text-align: center;
    }
  }
  .footer-content {
    padding-top: 75px;
    p {
      color: #383737;
      font-size: 15px;
      margin-bottom: 40px;
    }
  }
  .footer-grid {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    .grid_item {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-fot span {
        font-size: 33px;
        line-height: 2.1;
        color: $color_22;
        margin-right: 35px;
      }
      .text-form-footer h3 {
        color: #000;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;
        line-height: 1.3;
      }
    }
  }
  .footer-info {
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);

    ul {
      padding-top: 10px;
      list-style-type: none;
      text-decoration: none;
      li {
        display: block;
        padding: 3px 0px;
        i {
          width: 25px;
          color: $color_22;
        }
      }
    }
  }
  .footer-more-info {
    padding-top: 35px;
    padding-bottom: 100px;
    .sub-some {
      padding-top: 30px;
      h5 {
        font-size: 19px;
        color: #696969;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 14px;
      }
      ul {
        list-style-type: none;
        text-decoration: none;
        li {
          display: inline-block;
          padding: 0 5px;
          line-height: 1.5;
          font-size: 13px;
          color: #999;
          a {
            color: #999;
          }
        }
      }
    }
    .sub-payment {
      margin-top: 25px;
    }
    .app_logos {
      img {
        height: 35px;
      }
    }
    
  }
  .copy-right {
    text-align: center;
    padding: 15px 0;
    background: $color_31;
   p{
     color: #fff;
   }
  }
}
