$color_1: #999;
$color_2: #fff;
$color_3: #000;
$color_4: #FF5722;
$color_5: #4d4d4d;
$color_6: #191e21;
$color_7: #777;
$color_8: #e8e8e8;
$color_9: #212121;
$color_10: #555;
$color_11: #545454;
$color_12: #666666;
$color_13: #c4c4c4;
$color_14: #ffffff;
$color_15: #FFC107;
$color_16: #d60404;
$color_17: rgba(10, 10, 10, 0.38);
$color_18: #38393a;
$color_19: #FFFFFF;
$color_20: #888686;
$color_21: #383737;
$color_22: #1accfd;
$color_23: #000000;
$color_24: #656565;
$color_25: #696969;
$color_26: #f44336;
$color_27: #222222;
$color_28: #282a2b;
$color_29: #888;
$color_30: #1e1e1e;
$color_31: #025061;
$color_32: #ff5a5a;
$color_33: #A9A9A9;
$color_34: #1adeed;
$color_35: #8B8B8B;
$color_36: #404040;
$color_37: #D2D1D1;
$font_family_1: 'Open Sans', sans-serif;
$background_color_1: transparent;
$background_color_2: #FF5722;
$background_color_3: #fff;
$background_color_4: #F9F9F9;
$background_color_5: #1accfd;
$background_color_6: rgba(0, 0, 0, 0.33);
$background_color_7: #03a9f4;
$background_color_8: #22cdf3;
$background_color_9: #ffc107;
$background_color_10: #e51c23;
$background_color_11: #ffffff;
$background_color_12: #E5E5E5;
$background_color_13: #3a5795;
$background_color_14: #000;
$border_color_1: #D1E0EE;
$border_color_2: #66afe9;
$border_color_3: #e7e7e7;
$border_color_4: #000;
$border_color_5: #FF5722;
$border_right_color_1: transparent;
