.Modal {
    position: fixed;
    z-index: 1550;
    /* background-color: white;
    min-width: 70%;
    border: 1px solid #ccc; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    /* padding: 16px; */
    left: 15%;
    top: 30%;
    /* text-align: left; */
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}