#header {
    z-index: 1000;
    /* position: relative; */
    position: fixed;
    width: 100%;
    color: rgba(0, 0, 0, .7)
}
#header::after {
    display: block;
    clear: both;
    content: ""
}

/* Header - upper */
.header-upper {
    background: #495057;
    position: relative;
    padding: 2.5px 0
}

.header-upper .nav-link:hover {
    color: #f8f9fa
}

.header-upper .nav-item, .header-upper .nav-link {
    line-height: 1
}

.header-upper .nav-inline .nav-item + .nav-item, .header-upper .nav-inline .nav-link + .nav-link {
    margin-left: 0;
    margin-right: .5rem
}

.header-upper, .header-upper .nav-link {
    color: #e9ecef
}
.header-upper .nav-link {
    line-height: 1;
}

/* Header inner */

.header-inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}
.header-inner, .header-inner .header-block-flex, .theme-colours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.header-inner, .header-inner .header-block-flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.header-inner .header-block-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}
.header-inner .header-divider:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #dee2e6;
    display: inline-block;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}
.header-inner .header-divider {
    width: 20px;
    text-align: center;
    line-height: 1;
    height: 40px;
    position: relative;
    display: block;
}
.header-inner .header-divider.header-divider-sm {
    height: 10px;
    width: 15px;
}

/* container */
.container {
    position: relative
}

/* Navigation */

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-sm .nav-link {
    font-size: 85%;
    padding: .35em .5em
}
.nav-link {
    cursor: pointer;
}
.nav-icons .nav-link {
    padding: 0 3px 0 0;
}
/* Dropdown */
.dropdown-menu {
    margin-top: -1px !important;
    padding: 6px;
    border-radius: 0;
    left: auto;
    border: 1px solid #E6E6E6;
    border-bottom-width: 2px;
    font-size: 12px;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.dropdowns-no-carets {
    display: block;  
}
.dropdown-toggle::after{
    display: none;
}

.dropdown-toggle::after {
    font-size: 11px;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-menu[x-placement^=bottom]{
    right: auto;
    bottom: auto;
}
.dropdown-menu-arrow {
    margin-top: 15px !important;
}
.dropdown-menu-sm {
    padding: 4px;
    font-size: 11px;
}
.dropdown-menu-arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #E6E6E6;
    border-width: 14px;
    margin-left: -14px;
}
.dropdown-menu-arrow:after, .dropdown-menu-arrow:before {
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dropdown-menu-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #E6E6E6;
    border-width: 10px;
    margin-left: -10px;
}
.dropdown-menu-arrow:after, .dropdown-menu-arrow:before {
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dropdown-item {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 12px;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu-sm .dropdown-item {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
}

/* helper classes */
.order-1 {
    -ms-flex-order: 1;
    order: 1;
}
.mr-auto {
    margin-right: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.text-xs {
    font-size: 70% !important
}
.text-uppercase {
    text-transform: uppercase!important;
}
.d-none {
    display: none!important;
}
.p-0 {
    padding: 0!important;
}
.rounded {
    border-radius: .25rem!important;
}
.border-2, .border-w-2 {
    border-width: 2px !important;
}
.ml-1, .mx-1 {
    margin-left: .25rem!important;
}
.ml-2-neg, .mx-2-neg {
    margin-left: -.5rem !important;
}
.show {
    display: block !important;
}
.order-12 {
    -ms-flex-order: 12;
    order: 12;
}
/* Media Queries */

@media (min-width: 768px){
    .d-md-none {
        display: none!important;
    }

   .d-md-block {
    display: block!important;
}
.header-inner .header-block, .header-inner .header-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
}